/* general */

@font-face { font-family: FiraMono; src: url('fira-mono/FiraMono-Regular.otf'); }
@font-face { font-family: FiraMono; font-weight: bold; src: url('fira-mono/FiraMono-Bold.otf'); }

html, body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: block;
    overflow-x: hidden;
    -webkit-text-size-adjust: 100%;
}
body {
    display: table;
    clear: both;
    margin-top: 0px;
}
a {
    cursor: pointer;
    color: #41B0DB;
    text-decoration: underline;
}
div {
    margin: 0px;
    padding: 0px;
    display: block;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: 300;
    font-size: 13px;
}
p {
    font-size: 17px;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: 300;
    color: #CCC;
    -webkit-text-size-adjust:100%;
    -moz-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    text-size-adjust:100%
}
p.code {
    font-family: FiraMono, monospace !important;
    font-size: .9em !important;
    font-weight: 300;
}
section {
    display: table-row;
}
section.content {
    display: table-row;
    width: 60%;
    max-width: 900px;
    vertical-align: middle;
}
section#intro {
    position: relative;
    margin-top: -100px;
    display: table-row;
    height: 800px;
}
div.cell {
    display: table-cell; 
    vertical-align: middle;
}
div#bind {
    position: absolute;
    left: 35px; top: 35px;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    border: 3px solid black;
    border-radius: 2px;
    padding-left: 25px;
    padding-right: 25px;
    color: black;
}
div#description {
    position: absolute;
    left: 190px; top: 35px;
    font-size: 20px;
    font-weight: bold;
}
div.title {
    font-size: 34px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: white;
    opacity: 1;
    margin-top: 50px;
}
div.message {
    font-family: FiraMono;
    font-weight: 600;
    display: block;
    font-size: 70px;
    line-height: 150%;
    text-align: center;
    color: black; 
}
p.highlight {
    color: #CCC;
    font-size: 12px;
    font-weight: 400 !important;
    margin-top: -30px;
}
section#footer {
    position: absolute; bottom: 0px;
    padding-bottom: 30px;
    width: 100%;
}
section#footer div.link {
    display: inline-block;
    margin-left: 35px;
}
section#footer div.link a {
    color: black; text-decoration: underline;
    font-weight: bold;
}
section#footer div.link img {
    height: 20px;
    vertical-align: middle;
    margin-top: -5px;
    margin-left: 10px;
}
span.blue {
    color: rgb(0,207,255);
}
span.dark-blue {
    color: rgb(0,105,150);
}
span.red {
    color: rgb(183,100,60);
}
span.pink {
    color: rgb(255,0,153);
}
span.green {
    color: rgb(0,255,102);
}
span.black {
    color: #999;
}
