/* general */

@font-face { font-family: FiraMono; src: url('fira-mono/FiraMono-Regular.otf'); }
@font-face { font-family: FiraMono; font-weight: bold; src: url('fira-mono/FiraMono-Bold.otf'); }

html, body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: block;
    overflow-x: hidden;
    background-color: rgb(17,17,17);
    -webkit-text-size-adjust: 100%;
}
body {
    display: table;
    clear: both;
    margin-top: 0px;
}
a {
    cursor: pointer;
    color: #41B0DB;
    text-decoration: underline;
}
div {
    margin: 0px;
    padding: 0px;
    display: block;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: 300;
    font-size: 13px;
}
p {
    font-size: 17px;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: 300;
    color: #CCC;
    -webkit-text-size-adjust:100%;
    -moz-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    text-size-adjust:100%
}
p.code {
    font-family: FiraMono, monospace !important;
    font-size: .9em !important;
    font-weight: 300;
}
section {
    display: table-row;
}
section.content, section#footer {
    display: table-row;
    width: 60%;
    max-width: 900px;
    vertical-align: middle;
}
section#intro {
    position: relative;
    margin-top: -100px;
    display: table-row;
    height: 800px;
}
div.cell {
    display: table-cell; 
    vertical-align: middle;
}
div#bind, div.keyword {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 34px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    border: 3px solid white;
    border-radius: 2px;
    padding-left: 25px;
    padding-right: 25px;
    color: white;
    margin-top: 30px;
}
div.keyword#cpu, div.keyword#gpu {
    padding-top: 0px;
    padding-bottom: 12px;
    line-height: 34px;
}
div.keyword#cpu {
    padding-top: 1px;
    padding-bottom: 11px;
}
div.title {
    font-size: 34px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: white;
    opacity: 1;
    margin-top: 120px;
}
div.message {
    font-family: 'Open Sans';
    font-weight: 200;
    display: block;
    font-size: 20px;
    margin-top: 20px;
    line-height: 150%;
    text-align: center;
}
div.message a {
    color: rgb(39,205,170);
    text-decoration: none;
}
div.message p {
    display: inline-block;
    width: max-content;
    text-align: left;
    color: white;
    font: inherit;
}
div#more {
    display: block;
    cursor: pointer;
    position: absolute;
    left: 50%;
    bottom: 3%;
    transform: translateX(-50%);
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    color: #555;
}
a#ethz {
    display: none;
    position: absolute;
    right: 35px;
    top: 25px;
}
a#ethz img {
    height: 12px;
}
div.how {
    display: none;
    position: relative;
    width: 635px;
    display: block;
    position: relative; 
    width: auto;
    margin: auto;
    top: 0px;
}
section#footer {
    height: 300px;
    background-color: white;
}
section#footer div.message {
    color: black; margin: 0;
}
section#footer div.title {
    margin: 0;
}

p.highlight {
    color: rgb(59,200,220) !important;
}
span.blue {
    color: rgb(0,207,255);
}
span.dark-blue {
    color: rgb(0,105,150);
}
span.red {
    color: rgb(183,100,60);
}
span.pink {
    color: rgb(255,0,153);
}
span.green {
    color: rgb(0,255,102);
}
span.black {
    color: #999;
}
